@keyframes heartbeat
{
  0%
  {
    transform: scale( .6 ) translateX(200%);
  }
  20%
  {
    transform: scale( .6 ) translateX(-10%) rotate(-15deg);
  }
  25%
  {
    transform: scale( .6 ) translateX(-13%);
  }
  40%
  {
    transform: scale( .75 ) translateX(-13%);
  }
  60%
  {
    transform: scale( .6 ) translateX(-13%);
  }
  80%
  {
    transform: scale( .75 ) translateX(-13%);
  }
  100%
  {
    transform: scale( .6 ) translateX(-13%);
  }
}

@keyframes wavesMotion
{
  0%
  {
    left: 0%;
  }
  50% 
  {
    bottom: -75px;
  }
  100%
  {
    left: -18%;
    bottom: -100px;
  }
}

@keyframes shipTilt
{
  0%
  {
    transform: rotate(0deg) translateY(0);
  }
  25%
  {
    transform: rotate(-3deg) translateY(-12px);    
  }
  50%
  {
    transform: rotate(0deg) translateY(-25px);
  }
  75%
  {
    transform: rotate(3deg) translateY(-20px);
  }
  100%
  {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes birdFly
{
  0%
  {
    top: 25%;
    right: 35%;
  }
  100%
  {
    right: 150%;
  }
}

@keyframes subMove
{
  0%
  {}
  100%
  {
    transform: translateX(450%);
  }
}

@keyframes fishMove
{
  0% {}
  100% {transform: scale(.5) translate(-1000%, 35%);}
}

@keyframes meFloat {
  0%
  {
    transform: rotate(0deg) translateY(0%);
  }
  25%
  {
    transform: rotate(-5deg) translateY(-150%);    
  }
  50%
  {
    transform: rotate(0deg) translateY(-300%);
  }
  75%
  {
    transform: rotate(5deg) translateY(-450%);
  }
  100%
  {
    transform: rotate(0deg) translateY(-600%);
  }
}

@keyframes bubbleRotate {
  0%
  {
    transform: rotate(0deg);
  }
  25%
  {
    transform: rotate(-10deg);    
  }
  50%
  {
    transform: rotate(0deg);
  }
  75%
  {
    transform: rotate(10deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

@keyframes float
{
  0% {}
  100% 
  {
    bottom: 150%;
  }
}