@font-face {
  font-family:"YellowSubmarine";
  src: url("beatles.ttf") /* TTF file for CSS3 browsers */
}

html {
  font-family: "Sofia", "Georgia", serif;
  letter-spacing: 2px;
  font-size: 34px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  min-height:100vh;
  background-size:cover;
  align-items: center;
  justify-content: center;
  background-image:
  radial-gradient(circle at 100% 150%, #ffc600 24%, #CECA00 25%, #CECA00 28%, #ffc600 29%, #ffc600 36%, #CECA00 36%, #CECA00 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #ffc600 24%, #CECA00 25%, #CECA00 28%, #ffc600 29%, #ffc600 36%, #CECA00 36%, #CECA00 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #CECA00 10%, #ffc600 11%, #ffc600 23%, #CECA00 24%, #CECA00 30%, #ffc600 31%, #ffc600 43%, #CECA00 44%, #CECA00 50%, #ffc600 51%, #ffc600 63%, #CECA00 64%, #CECA00 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #CECA00 5%, #ffc600 6%, #ffc600 15%, #CECA00 16%, #CECA00 20%, #ffc600 21%, #ffc600 30%, #CECA00 31%, #CECA00 35%, #ffc600 36%, #ffc600 45%, #CECA00 46%, #CECA00 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #CECA00 5%, #ffc600 6%, #ffc600 15%, #CECA00 16%, #CECA00 20%, #ffc600 21%, #ffc600 30%, #CECA00 31%, #CECA00 35%, #ffc600 36%, #ffc600 45%, #CECA00 46%, #CECA00 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.hidden {
  display: none;
}

h2 {
  font-family: "YellowSubmarine";
  font-size: 1.5rem;
  margin: 30px auto;
  color: black;
  text-align: center;
  text-shadow: 3px 3px 0 #F3C010;
}

#main-container {
  margin: auto;
  width: 1280px;
  height: 720px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  color: black;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

.abs-pos {
  position: absolute;
}



.skyblue {
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.oceanblue {
  background: rgb(167,207,223); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.centered {
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nums-table {
  margin: 10px auto;
  padding: 0;
  border-spacing: 0;
}

#nums-table td {
}

.nums {
  opacity: 0;
  border-radius: 5px;
  width: 75%;
  height: 75%;
}

.horiz-heads {
  margin: auto 0;
  top: 0px;
  bottom: 0px;
}

.vert-heads {
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

#john-head {
  transform: scale(.64) rotate(90deg);
  left: -408px;
}

#paul-head {
  transform: scale(.64) rotate(-90deg);
  right: -408px;
}

#george-head {
  transform: scale(.64) rotate(180deg);
  top: -408px;
}

#ringo-head {
  transform: scale(.64);
  bottom: -408px;
}

#altogether {
  transform: scale(.4);
  margin: 50px auto;
}

#heart {
  transform: scale( .6 ) translate(-13%, -50%);
  animation: heartbeat 2s 1 forwards;
}

/*Alphabet*/

#alpha-table {
  margin: auto;
  /*padding: 50px;*/
}

#alpha-table td {
  padding: 50px;
}

.alphabet {
  transform: scale(1.2);
  border-radius: 50%;
  border: 3px solid orange;
  opacity: 0;
}

/*Sail the Ship*/
#waves {
  bottom: -100px;
  left: 0px;
  z-index: 3;
  animation: wavesMotion 4s linear infinite alternate;
}

#ship {
  top: 8%;
  left: 10%;
  animation: shipTilt 3s linear infinite;
}

/*Chop the Tree*/
#meadow {
  top: 100px;
  right: -255px;
}

#tree {
  z-index: 2;
  transform: scale(1.5);
  bottom: 160px;
  right: -76px;
}

#lumberjack {
  z-index: 3;
  bottom: -100px;
  left: 355px;
  transform: scale(0.6);
}

#bird {
  transform: scale(.5) scaleX(-1);
  top: 25%;
  right: 35%;
  z-index: 1;
  animation: birdFly 2s linear 1 forwards;
}

/*Skip the Rope*/

#sidewalk {
  bottom: 0px;
  z-index: 2;
}

#tree-trunk {
  z-index: 1;
  top: -107px;
}

#jump-rope {
  z-index: 3;
  bottom: 13%;
  right: 16%;
  transform: scale(1.6);
}

#school {
  z-index: 1;
  bottom: 20%;
  right: -35%;
}

/*Look at me*/

#clownfish {
  transform: scale(.24);
  right: 10%;
  top: 30%;
  animation: fishMove 7s 1 linear forwards;
}

#sub {
  left: -60%;
  top: 50%;
  animation: subMove 4s cubic-bezier(0.175, 0.460, 0.895, 0.510) forwards 1;
  z-index: 3;
}

#me-list {
  display: flex;
  width: 100%;
  height: 17%;
  list-style-type: none;
  left: 0%;
  bottom: 10%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

#me-list li {
  display: flex;
}

#me-list img {
  opacity: 0;
}

/*All Together Now*/

.bubble {
  bottom: -35%;
}

/*Colors*/

#standing {
  width: 100%;
  height: 100%;
}

.blackbg {background: black}
.whitebg {background: white;}
.greenbg {background: green;}
.redbg {background: red;}

audio {
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
}

#audio-container {
  max-width: 450px;
  margin:25px auto;
  border-radius:5px;
  padding: 5px 3px;
  color: black;
  text-align: center
}