@font-face {
    font-family:"YellowSubmarine";
    src: url("beatles.ttf") /* TTF file for CSS3 browsers */
}

html {
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Helvetica", serif;
  letter-spacing: 2px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: auto;
  /*display: flex;*/
  background:#000000;
  min-height:100vh;
  background-size:cover;
  align-items: center;
  justify-content: center;
  background-image:
  radial-gradient(circle at 100% 150%, #ffc600 24%, #CECA00 25%, #CECA00 28%, #ffc600 29%, #ffc600 36%, #CECA00 36%, #CECA00 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #ffc600 24%, #CECA00 25%, #CECA00 28%, #ffc600 29%, #ffc600 36%, #CECA00 36%, #CECA00 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #CECA00 10%, #ffc600 11%, #ffc600 23%, #CECA00 24%, #CECA00 30%, #ffc600 31%, #ffc600 43%, #CECA00 44%, #CECA00 50%, #ffc600 51%, #ffc600 63%, #CECA00 64%, #CECA00 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #CECA00 5%, #ffc600 6%, #ffc600 15%, #CECA00 16%, #CECA00 20%, #ffc600 21%, #ffc600 30%, #CECA00 31%, #CECA00 35%, #ffc600 36%, #ffc600 45%, #CECA00 46%, #CECA00 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #CECA00 5%, #ffc600 6%, #ffc600 15%, #CECA00 16%, #CECA00 20%, #ffc600 21%, #ffc600 30%, #CECA00 31%, #CECA00 35%, #ffc600 36%, #ffc600 45%, #CECA00 46%, #CECA00 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.hidden {
  display: none;
}

h2 {
  font-family: "YellowSubmarine";
  font-size: 1.5rem;
  margin: 30px auto;
  color: black;
  text-align: center;
  text-shadow: 3px 3px 0 #F3C010;
}

#main-container {
  margin: auto;
  width: 1024px;
  height: 768px;
  /*border:5px solid orange;*/
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background: white;
  color: black;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1)
}

/*#assets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.centered {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portrait {
  max-height: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  position: absolute;
  right: 13%;
  clip: rect(800px,800px,800px,0px);
}

.horiz-heads {
  margin: auto 0;
  top: 0px;
  bottom: 0px;
  position: absolute;
}

.vert-heads {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

#john-head {
  transform: scale(.64) rotate(90deg);
  left: -408px;
}

#paul-head {
  transform: scale(.64) rotate(-90deg);
  right: -408px;
}

#george-head {
  transform: scale(.64) rotate(180deg);
  top: -408px;
}

#ringo-head {
  transform: scale(.64);
  bottom: -408px;
}

#altogether {
  transform: scale(.4);
  margin: 50px auto;
}

#heart {
  transform: scale( .6 ) translate(-13%, -50%);
  animation: heartbeat 2s 1, heartballoon 8s linear 3s 1;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .6 ) translate(200%, -50%);
  }
  20%
  {
    transform: scale( .6 ) translate(-13%, -50%);
  }
  40%
  {
    transform: scale( .75 ) translate(-13%, -50%);
  }
  60%
  {
    transform: scale( .6 ) translate(-13%, -50%);
  }
  80%
  {
    transform: scale( .75 ) translate(-13%, -50%);
  }
  100%
  {
    transform: scale( .6 ) translate(-13%, -50%);
  }
}

@keyframes heartballoon
{
  0%
  {
    transform: scale( .6 ) translate(-13%, -50%);
  }
  25%
  {
    transform: scale( .6 ) translate(-13%, -188%) rotate(10deg);
  }
  50%
  {
    transform: scale( .6 ) translate(-13%, -321%) rotate(0deg);
  } 
  100%
  {
    transform: scale( .6 ) translate(-13%, -450%) rotate(-5deg);
  }
}

#words-container {
  max-width: 450px;
  margin:50px auto;
  background:white;
  border-radius:5px;
  padding: 0px 3px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background-size: 100% 3rem;
  color: black;
  text-align: center
}

/*#words-container:before {
  content: '';
  position: absolute;
  width: 4px;
  top: 0;
  left: 30px;
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}*/